.voting-container {
	/* justify-self: center; */
	align-self: center;
}
.card-voting {
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	gap: 0.5rem;
	justify-content: center;

	padding: 1rem 2rem;
	background-color: var(--clr-neutral-300);
	border-radius: 0.5rem;
}
.card-voting .star {
	--star-size: 18px;
	width: var(--star-size);
	height: var(--star-size);
	background-repeat: no-repeat;
	background-image: url(../../images/icon-star.svg);
	background-position: cover;
}

.card-voting p {
	font-weight: 700;
}

@media screen and (min-width: 40rem) {
	.card-voting {
		gap: 2rem;
		flex-flow: row nowrap;
		justify-content: initial;
		/* margin-right: calc(var(--offset) * 2rem); */
		transform: translateX(calc(var(--offset) * 2rem));
	}
	.voting-container {
		justify-self: end;
	}
}

@media screen and (min-width: 25rem) {
}
