.social-section {
	/* grid-template-columns: minmax(12rem, 30%) minmax(12rem, 1fr); */
	--grid-columns: 1;
	grid-template-columns: 1fr;
}

.social-section .title {
	font-size: 2.5rem;
}

@media screen and (min-width: 40rem) {
	.social-section {
		--grid-columns: 2;
		grid-template-columns: minmax(12rem, 30%) minmax(12rem, 1fr);
	}
}
