.social-section {
	/* grid-template-columns: minmax(12rem, 30%) minmax(12rem, 1fr); */
	--grid-columns: 1;
	grid-template-columns: 1fr;
	max-width: 68rem;
}

.social-section .title {
	font-size: 3rem;
}
.social-section > .header {
	text-align: center;
}

@media screen and (min-width: 50rem) {
	.social-section {
		--grid-columns: 2;
		grid-template-columns: minmax(12rem, 38%) minmax(12rem, 1fr);
	}
}

@media screen and (min-width: 40rem) {
	.social-section > .header {
		text-align: initial;
	}
}
